
body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  border: 7px solid #fff;
}

.title {
  background: #e3f4ff;
  padding: 8px;
  margin: 0;
  margin-bottom: 7px;
}

.content {
  background: #e3f4ff;
  padding: 8px;
  padding-bottom: 10px;
  margin-bottom: 7px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 7px;
  }

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: auto;
  width: 115px;
  padding: 5px;
  
}